body { padding: 0; margin: 0; background-color: #333; width: 100%; }
header { text-align: center; }
.btnEditData { cursor: pointer; color: green; }
.btnEditData:hover { color: greenyellow; }

.btnDeleteData { cursor: pointer; color: darkred; }
.btnDeleteData:hover { color: red; }

.btnDeleteDataForPurple { cursor: pointer; color: orange; }
.btnDeleteDataForPurple:hover { color: orangered; }

.rows { background-color: lightgrey; border-radius: 8px; margin-bottom: 15px; padding: 5px; }
.icon { text-align: center; }

#curSeason { color: lightcoral; }
#curEps { color: lightseagreen; }

#memo { background-color: lightseagreen; border-radius: 8px; padding: 5px; color: white; }

h3 { color: steelblue; }

#data { display: flex; }
#container { width: 370px; float: left; margin-left: 5px; }

.series { display: none; }
.confirmDelete { display: none; }

app-page { display: block; }