        <!-- FENETRE MANGAS -->
        <div class="ui modal books">
            <div class="header">...</div>
            <div class="content">
                <form class="ui form">
                        <input type="hidden" name="id" value="" /> <!-- value: new or edit -->
                    <div class="field">
                        <label>Nom du livre/magazine :</label>
                        <input type="text" name="name" placeholder="Ex: Super Mickey Parade">
                    </div>
                    <div class="field">
                            <label>Url d'une image vers ton livre/magazine ?</label>
                            <input type="text" name="urlpicture" placeholder="Ex: http://fr.web.img5.acsta.net/r_1280_720/newsv7/16/09/19/15/44/0834640.jpg">
                        </div>
                        <div class="field">
                            <label>Url vers le site officiel ?</label>
                            <input type="text" name="urlstream" placeholder="Ex: https://www.programmez.com">
                        </div>
                    <div class="field">
                        <label>J'en suis à la page ?</label>
                        <input type="number" name="page" placeholder="Ex: 149">
                    </div>
                    <div class="field">
                        <label>Dernier Tome ou Numéro paru :</label>
                        <input type="number" name="lastnumber" placeholder="Ex: 300">
                    </div>
                    <div class="field">
                        <label>Le prochain tome ou numéro sera disponible le :</label>
                        <input type="date" name="dispo" placeholder="Exemple: 24/03/2017">
                    </div>
                    <div class="field">
                        <label>Mémo :</label>
                        <input id="eventEnter" type="text" name="memo" placeholder="Une petite description, un mémo, date de l'abonnement, notes etc..">
                    </div>
                </form>
            </div>
            <div class="actions">
                    <div class="ui black deny button" onclick="SeasonManager.CancelEntry()">
                    Annuler
                    </div>
                    <div class="ui positive right labeled icon button" onclick="SeasonManager.AddNewEntry()">
                    Ajouter
                    <i class="checkmark icon"></i>
                    </div>
                </div>
        </div>

        <div class="ui modal confirmDelete">
                <div class="header">Êtes-vous sur de vouloir supprimer cet élément ?</div>
                <div class="actions">
                    <div class="ui red button" onclick="SeasonManager.DeleteEntry()">Oui</div>
                    <div class="ui positive button">Non</div>
                </div>
            </div>

<h2 data-id="title">Livres</h2>
<div class="ui"><button class="ui blue button" id="newSerie" onclick="SeasonManager.OpenUINewEntry();">Nouveau</button></div>
<div class="ui inline cookie nag">
        <span class="title">
            <i class="icon info"></i> Le savais-tu ? Tu peux définir un livre comme terminée en ajoutant (f) après son nom, annulée avec (c), a acheter avec (a) ou en production avec (p).
        </span>
        <i class="close icon"></i>
    </div>
<br /><div class="ui segment"><div class="ui cards" id="data"></div></div>
</div>