<h2 data-id="title">Qu'est-ce que SeasonManager ?</h2>
<div class="ui segments">
    <div class="ui segment">
        <h3 class="ui header top">SeasonManager c'est :</h3>
    </div>
    <div class="ui segment">
        <ul class="ui list">
            <li>Une application écrit en langage web et destiné à vous facilitez la vie sur ce que vous regardez à la tv,
                certains y passe des heures et il devient difficile de savoir ce que vous avez vue ou non.</li>
            <li>Il permet de...</li>
            <ul>
                <li>Gérer les séries que vous regardez pour vous rappeler de celui que vous avez vue.</li>
                <li>Gérer les films que vous avez déjà vue ainsi que l'année ou vous l'avez vue.</li>
                <li>Gérer les mangas que vous avez vue (tome, chapitre, etc).</li>
                <li>Gérer vos livres dans le même principe que les mangas. Ainsi que là ou vous vous êtes arrêter.</li>
            </ul>
            <li>Cet outil utilise des outils gratuits :</li>
            <ul>
                <li><i class="icon php"></i> PHP : <a href="https://php.net">https://php.net</a></li>
                <li><i class="icon js"></i> jQuery : <a href="https://jquery.com">https://jquery.com</a></li>
                <li><i class="icon css3"></i> Semantic UI : <a href="https://semantic-ui.com">https://semantic-ui.com</a></li>
                <li>Font-Awesome : <a href="https://fontawesome.com">https://fontawesome.com</a> (Inclus dans SemanticUI)
            </ul>
            <li>Informations complémentaires</li>
            <ul>
                <li>L'outil SeasonManager est développer par Creative Community & Innovation (Chevallier Michael <mica.2727@hotmail.fr>), vous pouvez le télécharger gratuitement mais ne pas le redistribuer.</li>
                <li>Il n'est pas utilisable sur un serveur web, c'est destiné a une utilisation personnel et comme un logiciel.
                    <br />Cet outil ne possède aucun espace membre et si vous le mettez sur un serveur web tout pourrait être supprimer.
                </li>
                <li>Je ne suis pas responsable de comment vous utilisez mon outil dans le principe ou je n'ai aucune information sur ceux qui le télécharge.</li>
                <li>L'outil ne récupère aucune information sur vous, ni sur son utilisation.</li>
            </ul>
        </ul>
    </div>
</div>