        <!-- FENETRE SERIE -->
        <div class="ui modal series">
            <div class="header">...</div>
            <div class="scrolling content">
                <form class="ui form">
                    <input type="hidden" name="id" value="" /> <!-- value: new or edit -->
                    <div class="field">
                        <label>Nom de la série :</label>
                        <input type="text" name="name" placeholder="Nom">
                    </div>
                    <div class="field">
                        <label>Url d'une image vers ta série ?</label>
                        <input type="text" name="urlpicture" placeholder="Ex: http://fr.web.img5.acsta.net/r_1280_720/newsv7/16/09/19/15/44/0834640.jpg">
                    </div>
                    <div class="field">
                        <label>Url vers un site ? (pour le voir)</label>
                        <input type="text" name="urlstream" placeholder="Ex: https://www.qwant.com/?q=Game of thrones&t=images">
                    </div>
                    <div class="field">
                        <label>J'en suis à la saison ?</label>
                        <input type="number" name="season" placeholder="Exemple: 1 pour Saison 1">
                    </div>
                    <div class="field">
                        <label>J'en suis à l'épisode (le dernier vue) ?</label>
                        <input type="number" name="eps" placeholder="Exemple: 2 pour Episode 2 déjà vue">
                    </div>
                    <div class="field">
                        <label>Description, aide mémoire etc...</label>
                        <input id="eventEnter" type="text" name="memo" placeholder="Une petite description, ou mémo etc..">
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui red deny button" onclick="SeasonManager.CancelEntry()">
                Annuler
                </div>
                <div class="ui positive right labeled icon button" onclick="SeasonManager.AddNewEntry()">
                Ajouter
                <i class="checkmark icon"></i>
                </div>
            </div>
        </div>

<div class="ui modal confirmDelete">
    <div class="header">Êtes-vous sur de vouloir supprimer cet élément ?</div>
    <div class="actions">
        <div class="ui red button" onclick="SeasonManager.DeleteEntry()">Oui</div>
        <div class="ui positive button">Non</div>
    </div>
</div>

<h2 data-id="title">Séries</h2>
    <div class="ui"><button class="ui blue button" id="newSerie" onclick="SeasonManager.OpenUINewEntry();">Nouveau</button></div>
    <div class="ui inline cookie nag">
            <span class="title">
                <i class="icon info"></i> Le savais-tu ? Tu peux définir une série comme terminée en ajoutant (f) après son nom, annulée avec (c) ou en production avec (p).
            </span>
            <i class="close icon"></i>
        </div>
    <br /><div class="ui segment"><div class="ui cards" id="data"></div></div>
</div>